<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="content">
        <h1>Todo list</h1>
        <form action="/addTodo" method="post">
            <input type="text" name="newTodo" placeholder="New Todo">
            <input type="submit" value="New Todo">
        </form>


        <div class="todoList">
            <ul>
                <% todos.forEach(todo =>  { %>
                   <li>
                    <%= todo.todo %> 
                    <form action="/delete/<%= todo.id  %>" method="post">
                        <input type="submit" value="Delete">
                    </form>
                   </li>
                <% }) %> 
            </ul>
        </div>

    </div>
</body>
</html>